@use "../../styles/partials/Mixins.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.header {
   position: fixed; 
   top: 0;          
   width: 100%;     
   z-index: 1000; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
   background-image: linear-gradient(to bottom, #f9fcff 0%, #f9fcff 90%, rgba(213, 232, 255, 0) 100%);
   @include tablet {
      height: 8rem;
   }
 
   &__logo {
      margin-left: 1.5rem;
      width: 6rem;
      @include mobile-l {
         width: 6.5rem;
         margin-left: 2rem;
      }
      @include tablet {
         width: 10rem;
         margin-left: 2rem;
      } 
   }
 
    &__logo-link {
       text-decoration: none;
    }
}