@use "../../styles/partials/Mixins.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3125rem;
    width: 100%;  
    box-sizing: border-box; 
    overflow: hidden; 
}

.slick-slide {
    display: flex;  
    justify-content: center; 
}

.slider__image {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slick-prev, .slick-next {
    z-index: 1; 
}

.slick-dots {
    position: relative; 
    bottom: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; 
}
 